 body {
   margin: 0;
   text-align: center;
   font-family: 'Merriweather', serif;
   color: #40514E;
 }
 p{
   font-size: 1.1rem;
 }

 .top-container {
   background-color: #DFF6FF;
   position: relative;
   padding-top: 100px;
 }

 h1 {
   margin: 50px auto 0 auto;
   font-family: 'Sacramento', cursive;
   font-size: 5.625rem;
   color: #1363DF;

 }

 h2 {
   font-family: 'Montserrat', sans-serif;
   font-size: 2.5rem;
   color: #47B5FF;
   font-weight: normal;
 }

 h3 {
   font-family: 'Montserrat', sans-serif;
   color: #47B5FF;
 }
 a{
   color: #47B5FF;
 }

 .profile{
   margin-top: 70px
 }

 .profile p {
   width: 25%;
   margin: 0 auto;
   line-height: 2;
   margin-bottom: 100px
 }

 .middle-container {

 }

 .bottom-container {

 }

 .top-cloud {
   position: absolute;
   right: 30%;
   top: 7%;
 }

 .mountain-img{
  width: 30%
 }

 .bottom-cloud {
   position: absolute;
   left: 30%;
   bottom: 30%;
 }

 .profile--image{
   background-color: grey;
   width:10%;
   border-radius: 100%
 }
 .skill-row{
   width: 50%;
   margin: 70px auto;
   text-align: left;
   line-height: 2;
 }

 .skill-row--image1{
   width: 15%;
  float: left;
  margin-right: 30px;
 }
 .skill-row--image2{
   width: 15%;
  float: right;
  margin-left: 30px;
 }
 .btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat';
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #F87474;
  border-width: 5px;
  width: 3%;
}
.skills{
  margin-top: 70px;
  margin-bottom: 20px;
}

.contact-me{
  margin-top: 70px;
  margin-bottom: 70px;
}

.contact-me p {
 width: 25%;
 margin: 40px auto 50px auto;
 line-height: 2;
}

.bottom-container{
  background-color: #DFF6FF;
  height: 170px;

}

.bottom-container p {
  color: #9CB4CC;
  margin-top: 100px;
}

.footer-link{
  margin: 0 25px 0 25px;
  text-decoration: none;
  color: #47B5FF;
  position: relative;
  top: 30%;
  font-size: 1.1rem
}
.footer-link:hover{
  color: #1363DF;
}
